.usuarios-container{
    padding:40px;
}

.titulo-seccion{
    margin-bottom:35px;
}

.titulo-seccion h2{
    color:black;
    font-size:2rem;
    margin-bottom:10px;
}

.titulo-seccion p{
    color:black;
}

.cards-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:25px;
}

.usuario-card{
    background:white;
    border-radius:20px;
    padding:25px;

    box-shadow:
        0 8px 20px rgba(0,0,0,.08);

    transition:.3s;
}

.usuario-card:hover{
    transform:translateY(-5px);

    box-shadow:
        0 12px 30px rgba(0,0,0,.12);
}

.card-header{
    display:flex;
    align-items:center;
    gap:15px;

    margin-bottom:25px;
}

.avatar{
    width:60px;
    height:60px;

    border-radius:50%;

    background:#eef7ff;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:1.8rem;
}

.card-header h3{
    color:#243b55;
    margin-bottom:5px;
}

.card-header p{
    color:#7f8c8d;
    font-size:.9rem;
}

.card-body{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.info-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.label{
    color:#7f8c8d;
    font-weight:600;
}

.valor{
    color:#2c3e50;
}

.estado{
    padding:6px 14px;
    border-radius:30px;
    font-weight:bold;
}

.activo{
    background:#e8fff0;
    color:#27ae60;
}

.inactivo{
    background:#ffecec;
    color:#e74c3c;
}

.card-actions{
    margin-top:25px;

    display:flex;
    gap:10px;
    flex-wrap:wrap;
}

.btn-detalle,
.btn-estado,
.btn-eliminar{
    border:none;
    padding:10px 14px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.btn-detalle{
    background:#00c6ff;
    color:white;
}

.btn-detalle:hover{
    box-shadow:
        0 0 10px #00c6ff;
}

.btn-estado{
    background:#243b55;
    color:white;
}

.btn-estado:hover{
    box-shadow:
        0 0 10px rgba(36,59,85,.4);
}

.btn-eliminar{
    background:#ff5f5f;
    color:white;
}

.btn-eliminar:hover{
    box-shadow:
        0 0 10px #ff5f5f;
}
.btn-crear{
    border:none;
    background:linear-gradient(
        135deg,
        #00c6ff,
        #0072ff
    );

    color:white;

    padding:14px 24px;

    border-radius:12px;

    font-size:1rem;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
    margin-top: 20px;
}
